@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1. Header 
2. Navigation 
3. Footer / footer
-------------------------------------------------------------------*/
/* Colors
----------------------------------------------------------*/
/* Transition
----------------------------------------------------------*/
/* LESS / Social Media Brand Colors */
/* Reset
----------------------------------------------------------*/


html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  overflow-x: hidden;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bold;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes grow {
  0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 1; }
  100% { -webkit-transform: scale(1.5, 1.5); transform: scale(1.5, 1.5); opacity: 0; }
}
@keyframes grow {
  0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); opacity: 1; }
  100% { -webkit-transform: scale(1.5, 1.5); transform: scale(1.5, 1.5); opacity: 0; }
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #252525;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5714285714;
  font-weight: 400;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #03132b;
}

h1 {
  font-size: 90px;
  font-weight: 900;
}

h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 56px;
}
h3 {
  font-size: 30px;
  margin-bottom: 18px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 0 0 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p:last-child {
  margin-bottom: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font-size: 18px;
  line-height: 28px;
  margin: 30px 0;
  font-style: italic;
  padding: 20px 30px;
  position: relative;
  background: #feefe8;
  color: #f26522;
}
blockquote p {
  margin-bottom: 0;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 13.125px;
  line-height: 1.5714285714;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 13.125px;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

.text-light {
  color: #b7b7b7;
}

.bg-light {
  background: #f2f4f6;
}

.bg-primary {
  background-color: #ffd100;
}

.bg-default {
  background-color: #03132b;
}

.text-primary {
  color: #ffd100;
}

.padding-top-bottom-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-top-bot-medium {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padding {
  padding: 0;
}

.padding-top-medium {
  padding-top: 90px;
}

.padding-bottom-medium {
  padding-bottom: 90px;
}

.no-padding-left {
  padding-left: 0!important;
}

.no-padding-right {
  padding-right: 0!important;
}

.no-padding-top {
  padding-top: 0!important;
}

.no-padding-bottom {
  padding-bottom: 0!important;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0!important;
}

.no-margin-left {
  margin-left: 0!important;
}

.no-margin-right {
  margin-right: 0!important;
}

.industris-space-5 {
  height: 5px;
}

.industris-space-10 {
  height: 10px;
}

.industris-space-20 {
  height: 20px;
}

.industris-space-30 {
  height: 30px;
}

.industris-space {
  height: 40px;
}

.industris-space-50 {
  height: 50px;
}

.industris-space-60 {
  height: 60px;
}

.industris-space-90 {
  height: 90px;
}

.clear-both {
  clear: both;
}

.unstyle {
  list-style: none;
  padding-left: 0;
  margin-bottom: 60px;
}

.unstyle li {
  padding: 4px 0;
}
.unstyle li a{
  text-decoration: underline;
}
.unstyle i {
  color: #ffd100;margin-right: 10px;
}

.text-dark {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-white .text-primary {
  color: #f26522;
}

a.text-white:hover {
  color: #ffd100;
}

.text-second {
  color: #00aeef!important;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-shadow-hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.italic {
  font-style: italic;
}

.bolder {
  font-weight: 900;
}

.semi-bold,
.semi-bold a {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.normal {
  font-weight: 400;
}

.lighter {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}
.gaps {
  clear: both;
  height: 20px;
  display: block;
}
.gaps.size-2x {
  height: 40px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.radius {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  overflow: hidden;
}

.radius-top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  overflow: hidden;
}

.radius-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  overflow: hidden;
}

.radius-left {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  overflow: hidden;
}

.radius-right {
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  overflow: hidden;
}

.text-right {
  text-align: right;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

ul,
ol {
  margin: 0 0 20px;
  padding-left: 18px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

.none-style {
  list-style: none;
  padding-left: 0;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
}

caption,
td,
th {
  padding: 0;
  font-weight: normal;
  text-align: left;
}

table,
th,
td {
  border: 1px solid #eee;
}

th {
  font-weight: 700;
}

th,
td {
  padding: 0.4375em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* #button Group
================================================== */
.btn {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-size: 16px;
  padding: 18px 22px;
  line-height: 1.42857143;
  display: inline-block;
  margin-bottom: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  background: #ffd100;
  cursor: pointer;
  border: 1px solid transparent;
  color: #272023;
  outline: none;
  min-width: 150px;
  border-radius: 0;
}
.btn:hover, .btn:focus {
  background: #1f1f59;
  color: #fff;
  text-decoration: none;
}
.btn-primary {
  background-color: #ffd100;
  color: #272023;
}
.btn-default {
  background-color: #f2f4f6;
  color: #03132b;
}
.btn-default:hover{
  background-color: #ffd100;
  color: #03132b;
}
.btn-dark {
  background: #000;
}
.btn-dark:hover, .btn-dark:focus {
  background: #f26522;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #252525;
}
.btn-dark:hover, .btn-dark:focus {
  background: #03132b;
  color: #fff;
}
.btn.btn-border {
  background: transparent;
  border-color: #363636;
  color: #707070;
}
.btn.btn-border:hover, .btn.btn-border:focus {
  background: #ffd100;
  border-color: #ffd100;
  color: #03132b;
}
.btn-border-white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-border-white:hover {
  background-color: transparent;
  border-color: #ffd100;
  color: #ffd100;
}
.btn-whatsapp-scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* WhatsApp green color */
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}
.btn-whatsapp-scroll:hover {
  background-color: #20b358;
}
.btn-whatsapp-scroll i {
  vertical-align: middle;
}
.btn-whatsapp {
  background: linear-gradient(45deg, #25d366, #44eb81);
  color: #fff; /* Teks putih */
  border: none; /* Tanpa border */
  transition: background-color 0.3s ease; /* Animasi transisi */
  border-radius: 12px; /* Ubah menjadi sudut yang lebih halus */
  padding: 10px 20px; /* Tambahkan padding untuk kenyamanan */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Bayangan untuk efek 3D */
  transition: all 0.3s ease; /* Transisi lebih halus */
}
.btn-whatsapp:hover,
.btn-whatsapp:focus {
  background: linear-gradient(45deg, #20b358, #019239);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Bayangan lebih dalam saat hover */
  transform: translateY(-3px); /* Sedikit angkat tombol saat di-hover */
  color: #fff; /* Teks tetap putih */
}
.btn-emergency {
  background-color: #ff4c4c; /* Warna merah mencolok untuk darurat */
  color: #fff; /* Teks putih */
  border: none; /* Tanpa border */
  transition: background-color 0.3s ease; /* Animasi transisi */
}

.btn-emergency:hover {
  background-color: #d43f3f; /* Warna merah lebih gelap saat hover */
  color: #fff; /* Teks tetap putih */
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #707070;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 11px 20px;
  box-sizing: border-box;
  outline: none;
  max-width: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #707070;
}

select {
  border: 1px solid #e2e2e2;
  height: 46px;
  padding: 10px 18px;
  outline: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
select option {
  color: #000;
}

textarea {
  width: 100%;
  height: 133px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b7b7b7;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b7b7b7;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #b7b7b7;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #b7b7b7;
}

hr {
  border-top-color: #cccccc;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.industris-lineheight {
  line-height: 36px;
}
.container-custom {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  color: #03132b;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #ffd100;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover, a:active {
  outline: 0;
}

/* ###### */
section {
  position: relative;
  padding: 120px 0;
  display: block;
}
/*--------------------------------------------------------------
## Main Header
--------------------------------------------------------------*/
.main-navigation {
  text-align: right;
  margin-top: -1px;
}
.navigation-2 {
  z-index: 10;
}
.main-navigation > ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.main-navigation > ul > li {
  position: relative;
  display: inline-block;
}
.main-navigation ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 52px 25px;
  color: #272023;
  display: flex;
  position: relative;
  text-decoration: none;
}
.main-navigation ul li.current-menu-parent > a, .main-navigation > ul > li.menu-item-has-children.current-menu-parent > a:after {
  color: #ffd100;
}
.main-navigation ul li a:hover, .main-navigation > ul > li.menu-item-has-children > a:hover:after {
  color: #ffd100;
}
.main-navigation > ul > li.menu-item-has-children > a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  content: "\f107";
  color: #bdbebf;
  font-family: 'FontAwesome';
  font-weight: 900;
  margin-right: 15px;
  font-size: 16px;
}
.main-navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top: 2px solid #ffd100;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.main-navigation ul li ul {
  min-width: 260px;
  position: absolute;
  top: 140%;
  left: 0%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
}
.main-navigation ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.main-navigation ul li li {
  position: relative;
  display: block;
}
.main-navigation ul ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #272023;
  text-align: left;
  display: block;
  padding: 15px 25px 15px 25px;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: none;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  border-bottom: 1px solid rgba(183,183,183,0.5);
}
.main-navigation ul ul li.current_page_item a {
  color: #ffd100;
}
.main-navigation ul ul li.menu-item-has-children > a:after {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 25px;
  width: 0;
  height: 0;
  content: "\f107";
  color: #bdbebf;
  font-family: 'FontAwesome';
  font-weight: 900;
  margin-right: 15px;
  font-size: 13px;
  float: right;
  transform: rotate(-90deg);
}
.main-navigation ul ul li.menu-item-has-children > a:hover:after {
  color: #ffd100;
}
.main-navigation ul ul li ul {
  margin-left: 100%;
  border-top: none;
}
.main-navigation ul ul li:hover ul  {
  opacity: 1;
  visibility: visible;
  top: 0;
  margin-left: 100%;
}
.main-navigation a i {
  margin-left: 8px;
}
.mobile-header {
  display: none;
}

/*--------------------------------------------------------------
## Subheader
--------------------------------------------------------------*/
.page-header {
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #03132b;
}
.page-header-default .overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.breadc-box .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  min-height: 450px;
}
.page-title {
  color: #fff;
  line-height: 1;
}
.breadcrumbs {
  margin: 0;
}
.breadcrumbs li {
  display: inline-block;
  font-size: 16px;
  color: #ffd100;
}
.breadc-box li:before {
    content: "/";
    font-family: FontAwesome;
    color: #fff;
    margin: 0 8px;
}
.breadc-box li:first-child:before {
    display: none;
}
.breadcrumbs li a {
  font-size: 16px;
  color: #b7b7b7;
}
.breadcrumbs li a:hover {color: #ffd100;text-decoration: none;}
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #03132b;
  color: #b7b7b7;
}
.site-footer-h3 {
  background-color: #003663;
}
.main-footer {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}
.main-footer-h3 {
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer ul, .main-footer-2 ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.main-footer ul li, .main-footer-2 ul li {
  padding: 8px 0;
}
.main-footer ul li:first-child, , .main-footer-2 ul li:first-child {
  padding-top: 0;
}
.main-footer ul li:last-child, .main-footer-2 ul li:last-child {
  padding-bottom: 0;
}
.main-footer ul li a, .main-footer-2 ul li a {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.main-footer-2 ul li a {
  color: #03132b;
}
.main-footer ul li a:hover, .main-footer-2 ul li a:hover {
  color: #ffd100;
}
.widget-footer .widget_media_image {
  margin-bottom: 40px;
}
.padding-left {
  padding-left: 130px;
}
.btn-subcribe {
  width: 60px;
  height: 60px;
  min-width: auto;
}
.footer-social {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 45px;
  color: #b7b7b7;
}
.footer-social a {
  color: #b7b7b7;
  margin-left: 15px;
}
.footer-social a:hover {
  color: #ffd100;
}
.footer-social a i {
  font-size: 21px;
  line-height: 26px;
}
.footer-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-footer form {
  max-width: 400px;
}
.btn.btn-back-to-top {
  color: #ffd100;
  background-color: #192840;
  font-size: 14px;
  line-height: 34px;
  padding: 7px 27px;
  border-bottom: 2px solid #ffd100;
  border-radius: 0;
}
.btn-back-to-top i {
  margin-left: 9px;
  font-size: 20px;
  line-height: 34px;
}
.footer-bottom {
  background-color: #03132b;
  color: #b7b7b7;
}
.footer-bottom-h3 {
  background-color: #003663;
}
.main-footer-2 {
  padding: 120px 0;
  background-size: cover;
}
.main-footer-2 input.form-control {
  background-color: #f2f4f6;
}
.main-footer-2 input::placeholder {
  color: #03132b;
}
.main-footer-2 .footer-social a {
  color: #707070
}
.main-footer-2 .footer-social a:hover {
  color: #ffd100;
}
.main-footer-2 .btn-subcribe {
  background-color: #03132b;
  color: #ffd100;
}
.main-footer-2 .btn-subcribe:hover {
  background-color: #ffd100;
  color: #03132b;
}
.site-footer-2 .btn.btn-back-to-top {
  color: #03232b;
  background-color: #ffd100;
}
.site-footer-h3 .btn.btn-back-to-top {
  background-color: #1a4a73;
}
[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before, [class^='imghvr-']:after, 
[class*=' imghvr-']:before, [class*=' imghvr-']:after, [class^='imghvr-'] *, [class*=' imghvr-'] *, 
[class^='imghvr-'] *:before, [class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
[class^='imghvr-'], [class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0px;
    max-width: 100%;
    background-color: #181825;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.imghvr-shutter-out-vert:before {
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before {
    background: rgba(255,209,0, .4);
    position: absolute;
    content: '';
    -webkit-transition-delay: 0.105s;
    -moz-transition-delay: 0.105s;
    transition-delay: 0.105s;
}
.imghvr-shutter-out-vert:hover:before {
    top: 0;
    bottom: 0;
}
[class^='imghvr-shutter-out-']:hover:before, [class*=' imghvr-shutter-out-']:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
/*--------------------------------------------------------------
## Contact Us
--------------------------------------------------------------*/
.bg-contact-info {
  background-color: #f2f4f6;
}
.contact-info h2 {
  font-weight: 900;
  line-height: 1;
  margin-bottom: 40px;
}
.contact-info p {
  margin-bottom: 12px;
}
.contact-info i {
  color: #ffd100;
}
.form-group input, .form-group textarea, .form-group select {
  margin-bottom: 30px;
}
.form-group select {
  height: auto;
  font-weight: 500;
}
.wpcf7-submit {
  width: 170px;
  margin-right: 10px;
}
.map {
  margin-bottom: 60px;
}
.text-center {
  text-align: center;
}
.btn-m-r {
  margin-right: 10px;
}

/*--------------------------------------------------------------
## About Us
--------------------------------------------------------------*/
.circle-img {
  border-radius: 50%;
}
.about-img-small {
  position: relative;
  width: 211px;
  height: 0;
  top: -171px;
  left: -97px
}
.about-img-small .overlay { 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.about-content {
  position: relative; 
  z-index: 1;
  padding: 45px 45px 0;
}
.about-content h2 {
  margin-bottom: 6px;
}
.about-content p {
  color: #fff; 
  font-weight: 500;
  font-size: 18px; 
  line-height: 30px;
  letter-spacing: 2px;
}
.icon-box {
  position: relative;
  padding:30px;
  min-height: 205px;
  border: 1px solid #e1e1e1;
  border-bottom: 2px solid #ffd100;
}
.icon-box-title i {
  font-size: 34px;
  float: left;
  color: #ffd100;
}
.icon-box-title h4 {
  font-size: 18px;
  line-height: 54px;
  padding-left: 40px; 
  margin-bottom: 10px;
  color: #ffd100;
  font-weight: 900;
}
.about-author {
  margin-top: 8px;
}
.about-author-info {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #252525;
}
.about-author-info h4 {
  margin-bottom: 5px;
}
.about-author-media a {
  margin-right: 15px;
  font-size: 21px; 
  line-height: 50px;
}
.about-border-left:before {
  background-color: #cccccc;
  height: 100%;
  width: 1px;
  content: "";
  position: absolute;
  left: -50px;
}
.slick-slide .container {
  margin-top: -1px;
}

/*--------------------------------------------------------------
## Slider Services
--------------------------------------------------------------*/

.image-carousel {
  position: relative;
  text-align: center;
}
.slider-services .slider-item img {
  display: inline-block;
}

/*--------------------------------------------------------------
## Service
--------------------------------------------------------------*/
.services-box {
  padding: 50px 30px; 
  background-color: #ffffff; 
  margin-bottom: 30px; 
  border: 1px solid #cccccc;
  transition: all .3s linear;-
  webkit-transition: all .3s linear;-
  moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
}
.services-box:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.15);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,.15);
}
.services-box .services-icon {
  margin-bottom: 40px;
}
.services-box .services-content p {
  margin-bottom: 40px;
}
.services-box .services-content i {
  margin-left: 10px;
}
.services-box .view-detail {
  color: #707070;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.services-box .view-detail:hover{
  color: #ffd100;
}
.services-box-img {
  background-size: cover; 
  position: relative; 
  padding: 0; 
  overflow: hidden;
}
.services-box-img img {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
}
.services-box-img:hover img {
  transform: scale(1.1);
}
.services-overlay {
  background: linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,0));
  position: absolute;
  width: 100%;
  height: 100%; 
  z-index: 1;
}
.services-box-img .services-content {
  position: absolute; 
  bottom: 0; 
  padding: 30px; 
  z-index: 2;
}
.services-box-img a {
  color: #fff;
}
.services-box-img a:hover {
  color: #ffd100;
}
.services-box-img .view-detail {
  color: #b7b7b7;
}
.services-box-img .view-detail:hover{
  color: #ffd100;
}

/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/
.gallery-slider {
  margin: 0 -15px;
}
.gallery-slider img {
  width: 100%;
}
.gallery-box {
  padding: 0 15px;
}
.gallery-slider-content {
  position: absolute; 
  bottom: 0px; 
  right: 0; 
  width: 100%; 
  padding: 30px 40px; 
  background-color: #fff; 
  border-right: 6px solid #ffd100;
}
.gallery-meta {
  margin-bottom: 10px;
}
.gallery-slider .btn-link {
  color: #ffd100;
}
.gallery-slider .btn-link i {
  margin-left: 10px;
}
.gallery-slider .slick-arrow {
  top: 45%;
}
.gallery-slider .prev-nav {
  left: -45px;
}
.gallery-slider .next-nav {
  right: -45px;
}
.gallery-grid {
  overflow: hidden;
}
#filters {
  padding-bottom: 15px; 
  margin-bottom: 60px; 
  border-bottom: 1px solid #cccccc;
}
#filters a {
  color: #707070; 
  font-size: 16px; 
  font-weight: 500; 
  margin-right: 40px; 
  text-decoration: none;
}
#filters a.selected, #filters a:hover {
  color: #ffd100;
}
#filters a:last-child {
  margin-right: 0;
}
.gallery-item {
  margin-bottom: 30px;
}
.gallery-item .inner {
  position: relative;
}

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
.slider .slider-content {
  position: absolute; 
  bottom: 240px; 
  margin-top: -1px;
}
.slider .slider-content h1 {
  color: #fff; 
  margin-bottom: 35px;
}
.slider .slider-content h4 {
  letter-spacing: 2px; 
  color: #fff;
}
.slider .slick-arrow {
  top: 45%;
}
.slider .prev-nav {
  left: 120px; 
  right: auto; 
  z-index: 1;
}
.slider .next-nav {
  right: 120px;
}
.slick-dots {
  position: absolute; 
  right: 0; 
  bottom: 30px; 
  text-align: right;
}
.slick-dots li {
  margin: 0; 
  margin-left: 12px;
}
.slick-dots li.slick-active button {
  border-color: #ffd100; 
  background-color: #ffd100;
}
.slick-dots li button {
  border: 1px solid #b7b7b7; 
  border-radius: 50%; 
  width: 18px; 
  height: 18px;
}
.slick-dots li button:hover {
  background-color: #ffd100; 
  border-color: #ffd100;
}
.slick-dots li button:before {
  display: none; 
}

.services-slider {
  margin: 0 -15px;
}
.services-slider .services-item {
  padding: 0 15px;
}
.services-slider .services-box { 
  border: 1px solid #cccccc; 
  transition: 0.3s;
}
.services-slider .services-box:hover { 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.services-slider .slick-arrow {
  top: -95px;
}

.btn-full-width {
  width: 100%;
}
.block-right, .block-left-2 {
  max-width: 555px;
}
.block-left-2 {
  float: right;
}
.block-left-2 h4, .block-right h4 
{margin-bottom: 15px;
}
.services-slider-img-left {
  position: absolute; 
  left: -225px; 
  top: 48%; 
  width: 100%;
}
.services-slider-img-left img {
  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}
.services-slider-img-left:after {
  content: ""; 
  width: 100%; 
  height: 1px;
  position: absolute; 
  top: 48%; 
  background-color: #cccccc;
}
.home-about h2 {
  margin-bottom: 45px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
## Typo
--------------------------------------------------------------*/
.typo.slick-arrow {
  bottom: 10px;
}
.form-control.default {
  background-color: #f2f4f6;
}
.form-control.default::placeholder {
  color: #707070;
}
.form-control.active {
  border-color: #ffd100;
}
.form-control.active::placeholder {
  color: #03132b;
}
.services-box-hover a, .services-box-hover .view-detail {
  color: #ffd100;
}
.services-box-img-hover img {
  transform: scale(1.1);
}
.services-box-3 {
  padding:25px 30px 0 ; 
  background-color: #1c5e9f;
  border-bottom: 5px solid #ffd100; 
  transition: 0.3s; 
  margin-bottom: 60px;
}
.services-box-3:hover {
  background-color: #ffffff;
}
.services-box-3 h4 {
  margin-bottom: 15px;
}
.services-box-3:hover h4 a {
  color: #252525;
}
.services-box-3:hover i {
  color: #ffd100;
}
.services-box-3 h4 a{
  font-size: 18px; 
  color: #fff; 
  line-height: 26px;
}
.services-box-3 .view-detail {
  color: #b7b7b7; 
  font-size: 24px;
}
.services-box-3 a:hover, .services-box-3 .view-detail:hover{
  color: #ffd100;
}
.services-box-3 .services-icon {
  text-align: right;
}
.services-box-3-hover {
  border-color: #ffd100;
  background-color: #fff;
}
.services-box-3-hover h4 a  {
  color: #252525;
}
.services-box-3-hover i {
  color: #ffd100;
}

/*--------------------------------------------------------------
## Counter
--------------------------------------------------------------*/
.counter-box {
  text-align: center;
  padding: 17px 30px 7px;
  border: 1px solid #e1e1e1;
  border-bottom: 6px solid #ffd100;
}
.counter-box .counter-icon {
  margin-bottom: 5px;
}
.counter-box .counter-icon i {
  font-size: 34px;
  color: #ffd100;
}
.counter-box h4 {
  margin-bottom: 6px;
}
.counter-box h3 {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/
.gallery-item {
  margin-bottom: 30px;
}
/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/

@media (max-width: 1800px){
  .services-block-left {
    display: none;
  }
}
@media (max-width: 1600px){
  .padding-left {
    padding-left: 80px;
  }
  .slider .next-nav {
    right: 15px;
  }
  .slider .prev-nav {
    left: 15px;
  }
}

@media (max-width: 1400px){
  .slider-slick-2 {
    width: 100%;
  }
  .slider .slider-content {
    bottom: 140px; 
  }
  .gallery-slider .prev-nav {
    left: 45%; 
    top: auto; 
    bottom: -60px;
  }
  .gallery-slider .next-nav {
    right: 45%; 
    top: auto; 
    bottom: -60px;
  }
}
@media (max-width: 1200px){ 
  .slider .slider-content {
    bottom: 140px; 
  }
  .slider .slider-content h1 {
    font-size: 36px;
  }
  .slider .slider-content h4 {
    display: none;
  }
  .padding-left {
    padding-left: 40px;
  }
  .process .process-icon:before {
    left: 110px;
  }
  .industris-space-md {
    height: 40px;
  }
  .slider-2-nav .item-info {
    padding-left: 30px;
    padding-right: 130px;
  }
  .slider-slick-2 {
    position: relative;
  }
  .slider-2 .item .slider-content {
    padding: 30px;
  }
  .slider-2 .item-info {
    position: relative;
  }
  .slider-img-nav {
    display: none;
  }
  .slider-2 .slick-arrow {
    bottom: 45%;
  }
  .slider-2 .next-nav.slick-arrow {
    left: auto;
    right: 30px;
  }
  .slider-2 .prev-nav.slick-arrow {
    left: 30px;
  }
  .slider-2 .slick-arrow:hover {
    color: #ffd100;
  }
}
@media (max-width: 991px){
  .md-hidden {
    display: none;
  }
  .mobile-header {
    display: block;
    background-color: #fff;
  }
  .logo-brand-mobile {
    max-width: 200px;
  }
  .mobile-nav {
    display: none;
    margin-bottom: 30px;
  }
  #mmenu_toggle {
    position: relative;
    cursor: pointer;
    float: right;
    width: 26px;
    height: 20px;
    padding: 10px 0;
    margin: 34px 0 0;
  }
  #mmenu_toggle button {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -2px 0 0;
    background: #03132b;
    height: 4px;
    padding: 0;
    border: none;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    outline: none;
    border-radius: 2px;
  }
  #mmenu_toggle button:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 26px;
    height: 4px;
    background: #03132b;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }
  #mmenu_toggle button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 26px;
    height: 4px;
    background: #03132b;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }
  #mmenu_toggle.active button {
    background: none;
  }
  #mmenu_toggle.active button:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  #mmenu_toggle.active button:after {
    bottom: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .mobile-menu {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
    border-top: 1px solid rgba(183,183,183,0.5);
  }
  .mobile-nav ul li.menu-item-has-children ul {
    display: none;
  }
  .mobile-nav ul li {
    position: relative;
  }
  .mobile-nav ul li a {
    color: #272023;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(183,183,183,0.5);
    text-decoration: none;
  }
  .mobile-nav ul li a:hover {
    color: #ffd100;
  }
  .mobile-nav .btn {
    margin-top: 20px;
  }
  .mobile-header .mobile-nav .mobile-menu > li.menu-item-has-children .arrow {
    color: #000;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 53px;
    padding: 0 30px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
  .mobile-header .mobile-nav .mobile-menu > li.menu-item-has-children .arrow i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
  }
  .sub-menu {
    padding-left: 20px;
  }
  .mobile-nav ul {
    margin: 0;
    list-style: none;
  }
  .slider .slider-content {
    bottom: 140px; 
    margin-left: 50px;
  }
  .slider .slider-content h1 {
    font-size: 36px;
  }
  .slider .slider-content h4 {
    display: none;
  }
  .img-left, .img-right {
    width: 100%;
  }
  .img-right {
    padding-left: 0;
  }
  .img-left {
    padding-right: 0; 
    margin-bottom: 30px;
  }
  .padding-left {
    padding-left: 0;
  }
  .widget-footer {
    margin-bottom: 60px;
  }
  .site-footer .row > div:last-child .widget-footer {
    margin-bottom: 0;
  }
  .footer-bottom .topbar-left li { 
    padding-left: 0; 
    border: none;
  }
  .industris-space-sm {
    height: 40px;
  }
  .about-img-right {
    margin-bottom: 40px;
  }
  .about-img-small {
    display: none;
  }
  .cta-box p {
    margin-bottom: 30px;
  }
  .process {
    padding-bottom: 40px;
  }
  .process:after {
    height: 100%; 
    width: 2px; 
    top: 0; 
    left: 15px;
  }
  div:first-child > .process:after {
   background-image: linear-gradient(to bottom, transparent 1%, #ffd100 99%);
  }
  div:last-child >.process:after {
    background-image: linear-gradient(to bottom, #ffd100 , transparent);
  }
  div:last-child >.process {
    padding-bottom: 0;
  }
  .process .process-icon {
    margin-bottom: 20px;
  }
  .process .process-icon:before {
    left: 6px; 
    top: 55px;
  }
  .process .process-icon:after {
    top: auto; 
    right: auto; 
    bottom: 10px; 
    left: 11px;
    border-top: 12px solid #ffd100;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
  }
  .history {
    text-align: center;
    margin-bottom: 60px;
  }
  .history-line {
    display: none;
  }
  .history-img img {
    padding-top: 0;
  }
  .sm-clear {
    clear: both;
  }
  .sm-center {
    text-align: center;
  }
  .home-form .form-group {
    margin-bottom: 20px;
  }
  .checkout_coupon .form-control {
    padding-right: 170px;
  }
  .checkout_coupon .btn-coupon {
    right: 0;
  }
  .mb-sm-40 {
    margin-bottom: 40px!important;
  }
  .logo-brand-mobile-2 {
    padding: 18px 0;
  }
  .block-left-2 {
    max-width: none;
  }
  .relate-project {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px){
  .history:last-child img {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .gallery-meta {
    padding-bottom: 0; 
    border-bottom: none;
  }
}
@media (max-width: 767px){
  section {
    padding: 90px 0;
  }
  blockquote .post-blockquote-author {
    padding-top: 30px;
  }
  .padding-bottom-medium {
    padding-bottom: 60px;
  }
  .project-meta {
    padding-bottom: 0; 
    border-bottom: none;
  }
  .slick-dots {
    text-align: center; 
    bottom: -40px;
  }
  .slider .slider-content {
    bottom: 100px; 
  }
  .slider .slider-content h1 {
    font-size: 30px;
  }
  .slider .slider-content h4 {
    display: none;
  }
  .slider .slider-content .btn {
    display: none;
  }
  .sm-hidden {
    display: none; 
  }
  .blockquote-img {
    margin-bottom: 30px;
  }
  .industris-space-xs {
    height: 40px;
  }
  .text-mb-left {
    text-align: left;
  }
  .process {
    text-align: left;
    padding-left: 40px;
  }
  .feature-box {
    margin-bottom: 30px;
  }
  .xs-center {
    text-align: center;
  }
  .gallery-slider-content {
    display: none;
  }
  .btn-update {
    position: relative;
  }
  .counter-box {
    margin-bottom: 30px;
  }
  .slider-slick-2 .slider-scroll-btn {
    display: none;
  }
  .slider-2-nav .item-info {
    padding-right: 30px;
  }
}
@media (max-width: 576px){
  .slider .slider-content {
    bottom: 60px;
  }
}
@media (max-width: 480px){
  section {
    padding: 60px 0;
  }
  .padding-bottom-medium {
    padding-bottom: 60px;
  }
  .slider .slider-content {
    bottom: 50px; 
    margin-left: 0;
  }
  .slider .slider-content h1 {
    font-size: 24px;
  }
  .slider .slider-content h4 {
    display: none;
  }
  .slider .slider-content .btn {
    display: none;
  }
  .meta-post {
    text-align: left;
  }
  .meta-left {
    float: none; 
    margin-bottom: 20px;}
  .tags {
    float: none; 
    margin-bottom: 20px;
  }
  .gallery-slider .gallery-slider-content {
    display: none;
  }
  .event-link a {
    margin-bottom: 20px;
  }
}
